<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
    <link href="/css/app.css" rel="stylesheet"/>
    <script src="/js/jquery-1.4.2.min.js"></script>
    <script src="/js/behave.js"></script>
</head>
<body>
   <div class="container">
     <div id="infobox">
     </div>
   </div>
</body>
</html>
