!!!
%html
  %head
    %link{:href=>"/css/screen.css", :rel=>"stylesheet"}
    %link{:href=>"/css/app.css", :rel=>"stylesheet"}
    %script{:src=>"/js/jquery-1.4.2.min.js"}
    %script{:src=>"/js/behave.js"}
  %body
    %div{:class=>"container"}
      %div{:id=>"infobox"}
