<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/app.css" rel="stylesheet"/>
    <script src="/javascripts/jquery-1.4.2.min.js"></script>
    <script src="/javascripts/behave.js"></script>
</head>
<body>
   <div class="dumpintro">
      Dump! {9538211877}
   </div>
   <div class="container">
     <div class="appintro span-24">
      <div class="appintroname">Dump!</div>
      <p><button class="startapp">Start dumping</button></p>
      <div class="span-12 credits">6<sup>th</sup> sem IS</div>
     </div>
     <div id="infobox">
     </div>
   </div>
</body>
</html>
