.container{
    text-align: center;
    margin: auto;
}

.msgbox{
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #666666;
}

.msgContent{
    font-family: Georgia;
    font-size: 160%;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

.msgNum{
    padding: 4px;
    text-align: right;
}

