.container{
    text-align: center;
    margin: auto;
}

.startapp{
    font-size: 200%;
}

.appintroname{
    margin-top: 125px;
    font-size: 500%;
    color: #660000;
}

.dumpintro{
    background: #660000;
    font-weight: bold;
    font-size: 110%;
    padding: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.msgbox{
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #666666;
}

.msgContent{
    font-family: Georgia;
    font-size: 160%;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

.msgNum{
    padding: 4px;
    text-align: right;
}

.credits{
    padding-top: 100px;
    color: #339933;
    font-weight: bold;
}
